@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900');
/* @import url("https://www.unpkg.com/browse/bootstrap-icons@1.10.3/bootstrap-icons.css"); */:root
{
    --primary: #A937CC !important;
    --primary-hover: #D445FF !important;
    --primary-focus: #b83cdef0 !important;
    --primary-inverse: #FFF;
    --background-color: #19081F !important;
    --card-background-color: #452C4D !important;
    --form-element-background-color: #35223b !important;
    --card-sectionning-background-color: #54365e !important;
}

footer {
    padding-top: 0 !important;
}

.gttx-logo {
    margin-bottom: 1%;
    opacity: 95%;
    transition: opacity 0.2s;
}

.gttx-logo:hover {
    opacity: 100%;
    transition: opacity 0.2s;
}

.page-name-header {
    margin-bottom: calc(var(--typography-spacing-vertical) / 3) !important;
    /* lololololololol */
}

.oauth-button {
    margin-bottom: 10px;
    opacity: 0.85;
    transition: opacity 0.15s;
}

.oauth-button:hover {
    opacity: 0.95;
    transition: opacity 0.15s;
}

.oauth-button:active {
    opacity: 1;
}

#google-oauth {
    font-size: larger;
    background-color: #ea4335;
}

#github-oauth {
    font-size: larger;
    background-color: #171515;
}

#discord-oauth {
    font-size: larger;
    background-color: #5865f2;
}

article {
    --block-spacing-vertical: calc(var(--spacing) * 1.1);
}
@media(min-width: 576px) {
    article {
        --block-spacing-vertical: calc(var(--spacing) * 1.25);
    }
}
@media(min-width: 768px) {
    article {
        --block-spacing-vertical: calc(var(--spacing) * 1.5);
    }
}

.right-avatar {
    display: block;
}

@media(min-width: 768px) {
    .right-avatar {
        display: none;
    }
}
