@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900');
/* @import url("https://www.unpkg.com/browse/bootstrap-icons@1.10.3/bootstrap-icons.css"); */

:root {
    --primary: #d81b60;

}

footer {
    padding-top: 0 !important;
}

.gttx-logo {
    margin-bottom: 1%;
    opacity: 95%;
    transition: opacity 0.2s;
}

.gttx-logo:hover {
    opacity: 100%;
    transition: opacity 0.2s;
}

.page-name-header {
    margin-bottom: calc(var(--typography-spacing-vertical) / 3) !important;
    /* lololololololol */
}

.scenario-summary-header {
    color: var(--primary) !important;
}

.scrollable-grid {
    background-color: var(--form-element-background-color) !important;
    grid-template-columns: repeat(2, 1fr) !important;
    border: 4px solid var(--primary-focus);
    border-radius: 0%;
    padding: 2% 2% 1% 1%;
    max-height: 400px;
    overflow:scroll;
    overflow-x:hidden;
    box-shadow: var(--box-shadow);
}

.scenario-box {
    background-color: var(--form-element-background-color) !important;
    border: 4px solid var(--primary-focus);
    border-radius: 0%;
    padding: 3%;
}

.cursed-fake-button {
    border: 2px solid var(--primary-contrast);
    border-radius: 5px;
    text-align: center;
}

.oauth-button {
    margin-bottom: 10px;
    opacity: 0.85;
    transition: opacity 0.15s;
}

.oauth-button:hover {
    opacity: 0.95;
    transition: opacity 0.15s;
}

.oauth-button:active {
    opacity: 1;
}

#google-oauth {
    font-size: larger;
    background-color: #ea4335;
}

#github-oauth {
    font-size: larger;
    background-color: #171515;
}

#discord-oauth {
    font-size: larger;
    background-color: #5865f2;
}

article {
    --block-spacing-vertical: calc(var(--spacing) * 1.1);
}
@media(min-width: 576px) {
    article {
        --block-spacing-vertical: calc(var(--spacing) * 1.25);
    }
}
@media(min-width: 768px) {
    article {
        --block-spacing-vertical: calc(var(--spacing) * 1.5);
    }
}

.right-avatar {
    display: block;
}

@media(min-width: 768px) {
    .right-avatar {
        display: none;
    }
}
